[submodule "DotEngine/vendor/spdlog"]
	path = DotEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DotEngine/vendor/GLFW"]
	path = DotEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "DotEngine/vendor/imgui"]
	path = DotEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
